.remarcado5 {
    color:rgb(0, 153, 255);
   }

dt {
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 153, 255);
}
.remarcado2{
    text-decoration: underline;
}

h1 {
    color: rgb(0, 153, 255);
    text-align: center;
    
}

h2 {
    color: rgb(0, 153, 255)
    
}
th {
    color: black
  }

  
.marcado5 {
    color: rgb(0, 153, 255);
}
h3 {
    color: rgb(0, 153, 255);
}
.remarcado6 {
    text-align: center;
    color: black;
}

th {
    color:rgb(0, 153, 255);
    background-color: black;
}
td {
    color: yellow;
    background-color: black;
}
table {
    text-align: center;
}
div {
    padding-left: 50%;
    margin: 20px;
}
